# Dart / Flutter
**/.dart_tool/
**/.packages
**/build/
**/pubspec.lock
*.iml
.idea/
.vscode/
**/.flutter-plugins*
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/

# Node
**/node_modules/
**/dist/
**/.env

# Python
**/__pycache__/
**/.venv/
**/*.egg-info/
